/**
* Template Name: TheEvent - v2.2.0
* Template URL: https://bootstrapmade.com/theevent-conference-event-bootstrap-template/
* Author: BootstrapMade.com
* License: https://bootstrapmade.com/license/
*/

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
    background: #fff;
    color: #2f3138;
    font-family: "Muli", sans-serif;
  }
  .page_breadcrumb {
    background: white;
    padding: 16px 0;
    position: relative;
    z-index: 1;
    margin-top: 20px;
}
.breadcrumb {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: .75rem 1rem;
  margin-bottom: 1rem;
  list-style: none;
  background-color: #e9ecef;
  border-radius: .25rem;
}
.breadcrumb-item+.breadcrumb-item {
  padding-left: .5rem;
}
.breadcrumb .breadcrumb-item {
  color: #878EA6;
  font-size: 14px;
  line-height: 21px;
}
.breadcrumb .active {
  color: #1d2746;
}
.breadcrumb-item.active {
  color: #6c757d;
}
.breadcrumb-item+.breadcrumb-item {
  padding-left: .5rem;
}
.page_breadcrumb .date {
  color: #910118;
  float: center;
  font-size: 15px;
  padding-right: 10px;
}
  
  a {
    color: black;
    transition: 0.5s;
  }
  
  a:hover, a:active, a:focus {
    color: #f8234a;
    outline: none;
    text-decoration: none;
  }
  
  p {
    padding: 0;
    margin: 0 0 30px 0;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Muli", sans-serif;
    font-weight: 400;
    margin: 0 0 20px 0;
    padding: 0;
    color: #0e1b4d;
  }
  
  .main-page {
    margin-top: 70px;
  }
  
  /* Prelaoder */
  #preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    overflow: visible;
    background: #fff url("../img/preloader.svg") no-repeat center center;
  }
  
  /* Back to top button */
  .back-to-top {
    position: fixed;
    display: none;
    background: #f82249;
    color: #fff;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 50px;
    right: 15px;
    bottom: 15px;
    transition: background 0.5s ease-in-out;
  }
  
  .back-to-top i {
    font-size: 24px;
    padding-top: 6px;
  }
  
  @media (max-width: 768px) {
    .back-to-top {
      bottom: 15px;
    }
  }
  
  .back-to-top:focus {
    background: #e0072f;
    color: #fff;
    outline: none;
  }
  
  .back-to-top:hover {
    background: #e0072f;
    color: #fff;
  }
  
  /* Sections Header
  --------------------------------*/
  .section-header {
    margin-bottom: 60px;
    position: relative;
    padding-bottom: 20px;
  }
  
  .section-header::before {
    content: '';
    position: absolute;
    display: block;
    width: 60px;
    height: 5px;
    background: #f82249;
    bottom: 0;
    left: calc(50% - 25px);
  }
  
  .section-header h2 {
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    margin-bottom: 10px;
  }
  
  .section-header p {
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    color: #9195a2;
  }
  
  .section-with-bg {
    background-color: #f6f7fd;
  }
  
  /*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
  #header {
    height: 90px;
    padding: 25px 0;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    transition: all 0.5s;
    z-index: 997;
  }
  
  @media (max-width: 991px) {
    #header {
      background: rgba(6, 12, 34, 0.98);
      height: 70px;
      padding: 15px 0;
      transition: all 0.5s;
    }
  }
  
  @media (max-width: 1199px) {
    #header .container {
      max-width: 100%;
    }
  }
  
  #header.header-scrolled, #header.header-fixed {
    background: rgba(6, 12, 34, 0.98);
    height: 70px;
    padding: 15px 0;
    transition: all 0.5s;
  }
  
  #header #logo h1 {
    font-size: 36px;
    margin: 0;
    padding: 6px 0;
    line-height: 1;
    font-family: "Muli", sans-serif;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
  }
  
  #header #logo h1 span {
    color: #f82249;
  }
  
  #header #logo h1 a, #header #logo h1 a:hover {
    color: #fff;
  }
  
  #header #logo img {
    padding: 0;
    margin: 0;
    max-height: 40px;
  }
  
  /*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
  /* Nav Menu Essentials */
  .nav-menu, .nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .nav-menu ul {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    z-index: 99;
  }
  
  .nav-menu li {
    position: relative;
    white-space: nowrap;
  }
  
  .nav-menu > li {
    float: left;
  }
  
  .nav-menu li:hover > ul,
  .nav-menu li.sfHover > ul {
    display: block;
  }
  
  .nav-menu ul ul {
    top: 0;
    left: 100%;
  }
  
  .nav-menu ul li {
    min-width: 180px;
  }
  
  /* Nav Menu Arrows */
  .sf-arrows .sf-with-ul {
    padding-right: 30px;
  }
  
  .sf-arrows .sf-with-ul:after {
    content: "\f107";
    position: absolute;
    right: 15px;
    font-family: "Muli", sans-serif;
    font-style: normal;
    font-weight: normal;
  }
  
  .sf-arrows ul .sf-with-ul:after {
    content: "\f105";
  }
  
  /* Nav Meu Container */
  #nav-menu-container {
    float: right;
    margin: 0;
  }
  
  @media (max-width: 991px) {
    #nav-menu-container {
      display: none;
    }
  }
  
  /* Nav Meu Styling */
  .nav-menu a {
    padding: 8px;
    text-decoration: none;
    display: inline-block;
    color: rgba(202, 206, 221, 0.8);
    font-family: "Muli", sans-serif;;
    font-weight: 600;
    font-size: 14px;
    outline: none;
  }
  
  @media (max-width: 1199px) {
    .nav-menu a {
      padding: 8px 4px;
    }
  }
  
  .nav-menu .menu-active a, .nav-menu a:hover {
    color: #fff;
  }
  
  .nav-menu > li {
    margin-left: 8px;
  }
  
  .nav-menu > li > a:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #f82249;
    visibility: hidden;
    transition: all 0.3s ease-in-out 0s;
  }
  
  .nav-menu a:hover:before, .nav-menu li:hover > a:before, .nav-menu .menu-active > a:before {
    visibility: visible;
    width: 100%;
  }
  
  .nav-menu li.buy-tickets a {
    color: #fff;
    background: #f82249;
    padding: 7px 22px;
    border-radius: 50px;
    border: 2px solid #f82249;
    transition: all ease-in-out 0.3s;
    font-weight: 500;
    margin-left: 8px;
    margin-top: 2px;
    line-height: 1;
    font-size: 13px;
  }
  
  .nav-menu li.buy-tickets a:hover {
    background: none;
  }
  
  .nav-menu li.buy-tickets:hover a:before, .nav-menu li.buy-tickets.menu-active a:before {
    visibility: hidden;
  }
  
  .nav-menu ul {
    margin: 4px 0 0 0;
    padding: 10px;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    background: #fff;
    border-radius: 3px;
  }
  
  .nav-menu ul li {
    transition: 0.3s;
  }
  
  .nav-menu ul li a {
    padding: 10px;
    color: #060c22;
    transition: 0.3s;
    display: block;
    font-size: 13px;
    text-transform: none;
    border-radius: 3px;
  }
  
  .nav-menu ul li:hover > a {
    background: #f82249;
    color: #fff;
  }
  
  .nav-menu ul ul {
    margin: 0;
  }
  
  /* Mobile Nav Toggle */
  #mobile-nav-toggle {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
    margin: 15px 15px 0 0;
    border: 0;
    background: none;
    font-size: 24px;
    display: none;
    transition: all 0.4s;
    outline: none;
    cursor: pointer;
  }
  
  #mobile-nav-toggle i {
    color: #fff;
  }
  
  @media (max-width: 991px) {
    #mobile-nav-toggle {
      display: inline;
    }
  }
  
  /* Mobile Nav Styling */
  #mobile-nav {
    position: fixed;
    top: 0;
    padding-top: 18px;
    bottom: 0;
    z-index: 998;
    background: rgba(6, 12, 34, 0.9);
    left: -260px;
    width: 260px;
    overflow-y: auto;
    transition: 0.4s;
  }
  
  #mobile-nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  #mobile-nav ul li {
    position: relative;
  }
  
  #mobile-nav ul li a {
    color: #fff;
    font-size: 17px;
    overflow: hidden;
    padding: 10px 22px 10px 15px;
    position: relative;
    text-decoration: none;
    width: 100%;
    display: block;
    outline: none;
  }
  
  #mobile-nav ul li a:hover {
    color: #f82249;
  }
  
  #mobile-nav ul li li {
    padding-left: 30px;
  }
  
  #mobile-nav ul .menu-has-children i {
    position: absolute;
    right: 0;
    z-index: 99;
    padding: 15px;
    cursor: pointer;
    color: #fff;
  }
  
  #mobile-nav ul .menu-has-children i.fa-chevron-up {
    color: #f82249;
  }
  
  #mobile-nav ul .menu-item-active {
    color: #f82249;
  }
  
  #mobile-body-overly {
    width: 100%;
    height: 100%;
    z-index: 997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(6, 12, 34, 0.8);
    display: none;
  }
  
  /* Mobile Nav body classes */
  body.mobile-nav-active {
    overflow: hidden;
  }
  
  body.mobile-nav-active #mobile-nav {
    left: 0;
  }
  
  body.mobile-nav-active #mobile-nav-toggle {
    color: #fff;
  }
  
  /*--------------------------------------------------------------
  # Intro Section
  --------------------------------------------------------------*/
  #intro {
    width: 100%;
    height: 100vh;
    background: url(../../images/event-cover.jpg) top center;
    background-size: cover;
    overflow: hidden;
    position: relative;
  }
  
  @media (min-width: 1024px) {
    #intro {
      background-attachment: fixed;
    }
  }
  
  #intro:before {
    content: "";
    background: rgba(6, 12, 34, 0.8);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
  
  #intro .intro-container {
    position: absolute;
    bottom: 0;
    left: 0;
    top: 90px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 15px;
  }
  :after, ::before {
    box-sizing: border-box;
}
  
  @media (max-width: 991px) {
    #intro .intro-container {
      top: 70px;
    }
  }
  
  #intro h1 {
    color: #fff;
    font-family: "Muli", sans-serif;
    font-size: 56px;
    font-weight: 600;
    text-transform: uppercase;
  }
  
  #intro h1 span {
    color: #f82249;
  }
  
  @media (max-width: 991px) {
    #intro h1 {
      font-size: 34px;
    }
  }
  
  #intro p {
    color: #ebebeb;
    font-weight: 700;
    font-size: 20px;
  }
  
  @media (max-width: 991px) {
    #intro p {
      font-size: 16px;
    }
  }
  
  #intro .play-btn {
    width: 94px;
    height: 94px;
    background: radial-gradient(#f82249 50%, rgba(101, 111, 150, 0.15) 52%);
    border-radius: 50%;
    display: block;
    position: relative;
    overflow: hidden;
  }
   
  
  #intro .play-btn::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
    z-index: 100;
    transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  
  
  #intro .play-btn:before {
    content: '';
    position: absolute;
    width: 120px;
    height: 120px;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation: pulsate-btn 2s;
    animation: pulsate-btn 2s;
    -webkit-animation-direction: forwards;
    animation-direction: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: steps;
    animation-timing-function: steps;
    opacity: 1;
    border-radius: 50%;
    border: 2px solid rgba(163, 163, 163, 0.4);
    top: -15%;
    left: -15%;
    background: rgba(198, 16, 0, 0);
  }
  
  #intro .play-btn:hover::after {
    border-left: 15px solid #f82249;
    transform: scale(20);
  }
  
  #intro .play-btn:hover::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border: none;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
    z-index: 200;
    -webkit-animation: none;
    animation: none;
    border-radius: 0;
  }
  
  #intro .about-btn {
    font-family: "Muli", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 50px;
    transition: 0.5s;
    line-height: 1;
    margin: 10px;
    color: #fff;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    border: 2px solid #f82249;
  }
  
  #intro .about-btn:hover {
    background: #f82249;
    color: #fff;
  }
  
  @-webkit-keyframes pulsate-btn {
    0% {
      transform: scale(0.6, 0.6);
      opacity: 1;
    }
    100% {
      transform: scale(1, 1);
      opacity: 0;
    }
  }
  
  @keyframes pulsate-btn {
    0% {
      transform: scale(0.6, 0.6);
      opacity: 1;
    }
    100% {
      transform: scale(1, 1);
      opacity: 0;
    }
  }
  
  /*--------------------------------------------------------------
  # About Section
  --------------------------------------------------------------*/
  #about {
    /* background: url("../../images/about-bg.jpg"); */
    background-color:white;
    /* background-size: cover; */
    overflow: hidden;
    position: relative;
    color: #910118;
    padding: 60px 0 40px 0;
    display: flex;
    align-items: center;
    justify-content: center;
     
  }

  
  
  @media (min-width: 1024px) {
    #about {
      background-attachment: fixed;
    }
  }
  
  #about:before {
    content: "";
    background: rgba(13, 20, 41, 0.8);
    position: relative;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
  
  #about h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #910118;
  }
  
  #about h3 {
    font-size: 19px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #910118;
  }
  
  #about p {
    font-size: 14px;
    margin-bottom: 20px;
    color: #910118;
  }

  
  /*--------------------------------------------------------------
  # Speakers Section
  --------------------------------------------------------------*/
  #speakers {
    padding: 60px 0 30px 0;
  }
  
  #speakers .speaker {
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
  }
  
  #speakers .speaker .details {
    background: rgba(6, 12, 34, 0.76);
    position: absolute;
    left: 0;
    bottom: -30px;
    right: 0;
    text-align: center;
    padding-top: 10px;
    transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  
  #speakers .speaker .details h3 {
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
  }
  
  #speakers .speaker .details p {
    color: #fff;
    font-size: 15px;
    margin-bottom: 10px;
    font-style: italic;
  }
  
  #speakers .speaker .details .social {
    height: 30px;
  }
  
  #speakers .speaker .details a {
    color: #fff;
  }
  
  #speakers .speaker .details a:hover {
    color: #f82249;
  }
  
  #speakers .speaker:hover .details {
    bottom: 0;
  }
  
  #speakers-details {
    padding: 60px 0;
  }
  
  #speakers-details .details h2 {
    color: #112363;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  
  #speakers-details .details .social {
    margin-bottom: 15px;
  }
  
  #speakers-details .details .social a {
    background: #e9edfb;
    color: #112363;
    line-height: 1;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    padding-top: 9px;
  }
  
  #speakers-details .details .social a:hover {
    background: #f82249;
    color: #fff;
  }
  
  #speakers-details .details .social a i {
    font-size: 18px;
  }
  
  #speakers-details .details p {
    color: #112363;
    font-size: 15px;
    margin-bottom: 10px;
  }
  
  /*--------------------------------------------------------------
  # Schedule Section
  --------------------------------------------------------------*/
  #schedule {
    padding: 60px 0 60px 0;
  }
  
  #schedule .nav-tabs {
    text-align: center;
    margin: auto;
    display: block;
    border-bottom: 0;
    margin-bottom: 30px;
  }
  
  #schedule .nav-tabs li {
    display: inline-block;
    margin-bottom: 0;
  }
  
  #schedule .nav-tabs a {
    border: none;
    border-radius: 50px;
    font-weight: 600;
    background-color: #0e1b4d;
    color: #fff;
    padding: 10px 100px;
  }
  
  @media (max-width: 991px) {
    #schedule .nav-tabs a {
      padding: 8px 60px;
    }
  }
  
  @media (max-width: 767px) {
    #schedule .nav-tabs a {
      padding: 8px 50px;
    }
  }
  
  @media (max-width: 480px) {
    #schedule .nav-tabs a {
      padding: 8px 30px;
    }
  }
  
  #schedule .nav-tabs a.active {
    background-color: #f82249;
    color: #fff;
  }
  
  #schedule .sub-heading {
    text-align: center;
    font-size: 18px;
    font-style: italic;
    margin: 0 auto 30px auto;
  }
  
  @media (min-width: 991px) {
    #schedule .sub-heading {
      width: 75%;
    }
  }
  
  #schedule .tab-pane {
    transition: ease-in-out .2s;
  }
  
  #schedule .schedule-item {
    border-bottom: 1px solid #cad4f6;
    padding-top: 15px;
    padding-bottom: 15px;
    transition: background-color ease-in-out 0.3s;
  }
  
  #schedule .schedule-item:hover {
    background-color: #fff;
  }
  
  #schedule .schedule-item time {
    padding-bottom: 5px;
    display: inline-block;
  }
  
  #schedule .schedule-item .speaker {
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 50%;
    float: left;
    margin: 0 10px 10px 0;
  }
  
  #schedule .schedule-item .speaker img {
    height: 100%;
    transform: translateX(-50%);
    margin-left: 50%;
    transition: all ease-in-out 0.3s;
  }
  
  #schedule .schedule-item h4 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
  }
  
  #schedule .schedule-item h4 span {
    font-style: italic;
    color: #19328e;
    font-weight: normal;
    font-size: 16px;
  }
  
  #schedule .schedule-item p {
    font-style: italic;
    color: #152b79;
    margin-bottom: 0;
  }
  
  /*--------------------------------------------------------------
  # Venue Section
  --------------------------------------------------------------*/
  #venue {
    padding: 60px 0;
  }
  
  #venue .container-fluid {
    margin-bottom: 3px;
  }
  .container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
  
  #venue .venue-map iframe {
    width: 100%;
    height: 100%;
    min-height: 300px;
  }
  
  #venue .venue-info {
    background: url("../img/venue-info-bg.jpg") top center no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  
  #venue .venue-info:before {
    content: "";
    background: rgba(13, 20, 41, 0.8);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
  
  #venue .venue-info h3 {
    font-size: 36px;
    font-weight: 700;
    color: #fff;
  }
  
  @media (max-width: 574px) {
    #venue .venue-info h3 {
      font-size: 24px;
    }
  }
  
  #venue .venue-info p {
    color: #fff;
    margin-bottom: 0;
  }
  
  #venue .venue-gallery-container {
    padding-right: 12px;
  }
  
  #venue .venue-gallery {
    overflow: hidden;
    border-right: 3px solid #fff;
    border-bottom: 3px solid #fff;
  }
  
  #venue .venue-gallery img {
    transition: all ease-in-out 0.4s;
  }
  
  #venue .venue-gallery:hover img {
    transform: scale(1.1);
  }


  /*--------------------------------------------------------------
  # Navigation Section
  --------------------------------------------------------------*/
  .hero-area .content-block #main {
    margin-bottom: 0px;
}
.navigation {
  padding: 10px 0;
}
  .category_page {
    background-color: #910118;
  }
  .main-nav .nav-item .nav-link span {
    margin-left: 4px;
  }
  
  .main-nav .nav-item .nav-link.dropdown-toggle {
    padding-right: 10px;
  }
  
  .main-nav .nav-item .dropdown-toggle::after {
    border: none;
  }
  
  
  
  .main-nav .search .nav-link i {
    font-size: 18px;
    height: 43px;
    width: 43px;
    line-height: 43px;
    color: #5672f9;
    border: 1px solid #5672f9;
    border-radius: 3px;
    text-align: right;
  }
  
  .main-nav .search .input-group {
    width: 300px;
  }
  
  .main-nav .search .input-group .input-group-addon {
    background: #5672f9;
    color: #fff;
    border: 1px solid #5672f9;
  }
  
  .main-nav .search .input-group .input-group-addon i {
    font-size: 15px;
    padding-right: 5px;
    padding-left: 5px;
  }
  
  .dropdown-menu {
    padding: 15px;
    border-radius: 0;
  }
  
  .dropdown-menu.show {
    display: block;
  }
  
  .nav-item.dropdown {
    position: relative;
  }
  
  .dropdown-item.active, .dropdown-item:active {
    background: #5672f9;
  }
  
  .dropdown-item {
    font-size: 14px;
    padding: 10px 60px 10px 10px;
  }
  
  @media (max-width: 400px) {
    .dropdown-item {
      padding: 10px 25px 10px 10px;
      text-align: center;
    }
  }
  
  @media (max-width: 480px) {
    .dropdown-item {
      padding: 10px 25px 10px 10px;
      text-align: center;
    }
  }
  
  @media (max-width: 768px) {
    .dropdown-item {
      padding: 10px 25px 10px 10px;
      text-align: center;
    }
  }
  
  @media (max-width: 992px) {
    .dropdown-item {
      padding: 10px 25px 10px 10px;
      text-align: center;
    }
  }
@media (min-width: 992px) {
  .dropdown-slide {
    position: static;
  }
  .dropdown-slide .open > a, .dropdown-slide .open > a:focus, .dropdown-slide .open > a:hover {
    background: transparent;
  }
  .dropdown-slide.full-width .dropdown-menu {
    left: 0 !important;
    right: 0 !important;
  }
  .dropdown-slide:hover .dropdown-menu {
    display: none;
    opacity: 1;
    display: block;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    opacity: 1;
    visibility: visible;
    color: #777;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  .dropdown-slide .dropdown-menu {
    margin-top: 0;
    border-radius: 0;
    opacity: 1;
    visibility: visible;
    position: absolute;
    padding: 15px;
    border: 1px solid #ebebeb;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    transition: .3s all;
    position: absolute;
    display: block;
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
    transition: visibility 0.2s, opacity 0.2s, -webkit-transform 500ms cubic-bezier(0.43, 0.26, 0.11, 0.99);
    transition: visibility 0.2s, opacity 0.2s, transform 500ms cubic-bezier(0.43, 0.26, 0.11, 0.99);
    transition: visibility 0.2s, opacity 0.2s, transform 500ms cubic-bezier(0.43, 0.26, 0.11, 0.99), -webkit-transform 500ms cubic-bezier(0.43, 0.26, 0.11, 0.99);
  }
}

@media (min-width: 992px) and (max-width: 480px) {
  .dropdown-slide .dropdown-menu {
    -webkit-transform: none;
            transform: none;
  }
}



  /* .main-nav .nav-item .nav-link {
    font-size: 15px;
    line-height: 43px;
    padding: 0 20px;
    color: white;
    font-weight: bold;
  }
.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.5);
  } */





  /*--------------------------------------------------------------
  # Hotels Section
  --------------------------------------------------------------*/
  #hotels {
    padding: 60px 0;
  }
  
  #hotels .hotel {
    border: 1px solid #e0e5fa;
    background: #fff;
    margin-bottom: 30px;
  }
  
  #hotels .hotel:hover .hotel-img img {
    transform: scale(1.1);
  }
  
  #hotels .hotel-img {
    overflow: hidden;
    margin-bottom: 15px;
  }
  
  #hotels .hotel-img img {
    transition: 0.3s ease-in-out;
  }
  
  #hotels h3 {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 5px;
    padding: 0 20px;
  }
  
  #hotels a {
    color: #152b79;
  }
  
  #hotels a:hover {
    color: #f82249;
  }
  
  #hotels .stars {
    padding: 0 20px;
    margin-bottom: 5px;
  }
  
  #hotels .stars i {
    color: #ffc31d;
  }
  
  #hotels p {
    padding: 0 20px;
    margin-bottom: 20px;
    color: #060c22;
    font-style: italic;
    font-size: 15px;
  }
  
  /*--------------------------------------------------------------
  # Gallery Section
  --------------------------------------------------------------*/
  #gallery {
    padding: 60px;
    overflow: hidden;
  }
  
  
  #gallery .owl-nav, #gallery .owl-dots {
    margin-top: 25px;
    text-align: center;
  }
  
  #gallery .owl-item {
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
  }
  
  #gallery .owl-dot {
    display: inline-block;
    margin: 0 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ddd;
  }
  
  #gallery .owl-dot.active {
    background-color: #f82249;
  }
  
  #gallery .gallery-carousel .owl-stage-outer {
    overflow: visible;
  }
  
  #gallery .gallery-carousel .center {
    border: 6px solid #f82249;
    margin: -10px;
    box-sizing: content-box;
    padding: 4px;
    background: #fff;
    z-index: 1;
  }
  /* footer Section
  ------------------------------------------------------------------------
  */
  /* .footer {
    background: #232425;
}
.section-sm {
    padding: 70px 0;
}
.section {
    padding: 30px 0;
} */

/* .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
} */
 
/* img {
    vertical-align: middle;
    border-style: none;
}
div {
    display: block;
}
.d-flex {
    display: -ms-flexbox!important;
    display: flex!important;
}
 
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
ol, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.social-media-icons {
    text-align: center !important;
}
.text-left {
    text-align: left!important;
} */
/* .footer .block h4 {
    color: #fff;
    font-size: 17px;
    margin-bottom: 25px;
}
.footer .block ul li a {
    display: block;
    font-size: 14px;
    color: #797979;
}
.social-media-icons li a {
    color: #848484;
    padding: 0 20px;
}
.footer .block.about img {
    margin-bottom: 25px;
  }
  
.footer .block.about p {
    line-height: 26px;
  }
.text-white {
    color: #fff!important;
    margin-left: 20px;
}
.facebook {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
 
a {
    transition: all .3s ease-in 0s;
    color: #000;
}
::marker {
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
}
 */

 .footer {
    background: #232425;
  }

  
  .footer .block h4 {
    color: #fff;
    font-size: 16px;
    margin-bottom: 25px;
    padding-left: 35px;
  }
  
  .footer .block.about img {
    margin-bottom: 25px;
  }
  
  .footer .block.about p {
    line-height: 26px;
  }
  
  .footer .block ul li {
    margin-bottom: 10px;
    list-style-type: none;
  }
  
  .footer .block ul li a {
    display: block;
    font-size: 14px;
    color: #797979;
    list-style-type: none;
  }
 
  
  .footer .block ul li a:hover {
    color: #5672f9;
    text-decoration: underline;
  }
  
  .footer .block ul.terms-list {
    margin-top: 10px;
  }
  .d-flex {
    display: -ms-flexbox!important;
    display: flex!important;
}
  
  /* .footer .block ul.terms-list li a {
    padding-right: 10px;
  } */
  
  @media (max-width: 768px) {
    .footer .block:last-child {
      margin-bottom: 30px;
    }
  }
  
  .footer .block-2 {
    padding: 18px 30px;
    background: #46484A;
    border-radius: 2px;
  }
  
  .footer .block-2.app-promotion {
    margin-bottom: 20px;
    margin-right: 4px;
  }
  
  .footer .block-2.app-promotion p {
    margin-left: 20px;
    color: #fff;
  }
  
  .footer .block-2.discount-coupon p {
    color: #fff;
    margin-bottom: 0;
  }
  
  .footer .block-2.discount-coupon p a {
    color: #5672f9;
  }
  
  .footer-bottom {
    position: relative;
  }
  
  @media (max-width: 480px) {
    .footer-bottom {
      text-align: center;
    }
  }
  
  .footer-bottom .copyright p {
    color: #c7c7c7;
    margin-bottom: 0;
  }
  
  .social-media-icons {
    text-align: center !important;
   }
  
  .social-media-icons li {
    display: inline-block;
  }
  
  .social-media-icons li a {
    color: #848484;
    padding: 0 20px;
  }
  
  .social-media-icons li a:hover {
    color: #fff !important;
    text-decoration: none;
  }
  ::marker {
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
}
  
  .top-to {
    position: absolute;
    right: 20px;
    bottom: 50px;
    display: flex;
    justify-content: center;
  }
  
  .top-to a {
    width: 40px;
    height: 40px;
    background: #5672f9;
    color: #fff;
    display: flex;
    justify-content: center;
  }
  
  .top-to a i {
    line-height: 40px;
  }
  
  .top-to a:hover {
    text-decoration: none;
  }
  .img-thumbnail {
   max-height: 500px;
  
  }
  
  .cont{
    margin-bottom: 25px
  }
  
  .responsive {
    width: 100%;
    height: 0;
    padding-bottom: 90.25%;
    position: relative;
    
  }
  
  .responsive iframe{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    
  }
  .facebook{
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    
  }
  .facebook iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  
  }
.section-sm {
    padding: 70px 0;
}
.section {
    padding: 30px 0;
} 
 
.text-white {
    color: #fff!important;
    margin-left: 40px;
}
 
  /*--------------------------------------------------------------
  # Sponsors Section
  --------------------------------------------------------------*/
  #supporters {
    padding: 60px 0;
  }
  
  #supporters .supporters-wrap {
    border-top: 1px solid #e0e5fa;
    border-left: 1px solid #e0e5fa;
    margin-bottom: 30px;
  }
  
  #supporters .supporter-logo {
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #e0e5fa;
    border-bottom: 1px solid #e0e5fa;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.5);
    height: 160px;
  }
  
  #supporters .supporter-logo:hover img {
    transform: scale(1.2);
  }
  
  #supporters img {
    transition: all 0.4s ease-in-out;
  }
  
  /*--------------------------------------------------------------
  # F.A.Q Section
  --------------------------------------------------------------*/
  #faq {
    padding: 60px 0;
  }
  
  #faq #faq-list {
    padding: 0;
    list-style: none;
  }
  
  #faq #faq-list li {
    border-bottom: 1px solid #ddd;
  }
  
  #faq #faq-list a {
    padding: 18px 0;
    display: block;
    position: relative;
    font-family: "Muli", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    padding-right: 20px;
  }
  
  #faq #faq-list i {
    font-size: 24px;
    position: absolute;
    right: 0;
    top: 16px;
  }
  
  #faq #faq-list p {
    margin-bottom: 20px;
  }
  
  @media (max-width: 768px) {
    #faq #faq-list a {
      font-size: 18px;
    }
    #faq #faq-list i {
      top: 13px;
    }
  }
  
  #faq #faq-list a.collapse {
    color: #f82249;
  }
  
  #faq #faq-list a.collapsed {
    color: #000;
  }
  
  #faq #faq-list a.collapsed i::before {
    content: "\f055" !important;
  }
  
  /*--------------------------------------------------------------
  # Subscribe Section
  --------------------------------------------------------------*/
  #subscribe {
    padding: 60px;
    background: url(../img/subscribe-bg.jpg) center center no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
  }
  
  #subscribe:before {
    content: "";
    background: rgba(6, 12, 34, 0.6);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
  
  @media (min-width: 1024px) {
    #subscribe {
      background-attachment: fixed;
    }
  }
  
  #subscribe .section-header h2, #subscribe p {
    color: #fff;
  }
  
  #subscribe input {
    background: #fff;
    color: #060c22;
    border: 0;
    outline: none;
    margin: 0;
    padding: 9px 20px;
    border-radius: 50px;
    font-size: 14px;
  }
  
  @media (min-width: 767px) {
    #subscribe input {
      min-width: 400px;
    }
  }
  
  #subscribe button {
    border: 0;
    padding: 9px 25px;
    cursor: pointer;
    background: #f82249;
    color: #fff;
    transition: all 0.3s ease;
    outline: none;
    font-size: 14px;
    border-radius: 50px;
  }
  
  #subscribe button:hover {
    background: #e0072f;
  }
  
  @media (max-width: 460px) {
    #subscribe button {
      margin-top: 10px;
    }
  }
  
  /*--------------------------------------------------------------
  # Buy Tickets Section
  --------------------------------------------------------------*/
  #buy-tickets {
    padding: 60px 0;
  }
  
  #buy-tickets .card {
    border: none;
    border-radius: 5px;
    transition: all  0.3s ease-in-out;
    box-shadow: 0 10px 25px 0 rgba(6, 12, 34, 0.1);
  }
  
  #buy-tickets .card:hover {
    box-shadow: 0 10px 35px 0 rgba(6, 12, 34, 0.2);
  }
  
  #buy-tickets .card hr {
    margin: 25px 0;
  }
  
  #buy-tickets .card .card-title {
    margin: 10px 0;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: bold;
  }
  
  #buy-tickets .card .card-price {
    font-size: 48px;
    margin: 0;
  }
  
  #buy-tickets .card ul li {
    margin-bottom: 20px;
  }
  
  #buy-tickets .card .text-muted {
    opacity: 0.7;
  }
  
  #buy-tickets .card .btn {
    font-size: 15px;
    border-radius: 50px;
    padding: 10px 40px;
    transition: all 0.2s;
    background-color: #f82249;
    border: 0;
    color: #fff;
  }
  
  #buy-tickets .card .btn:hover {
    background-color: #e0072f;
  }
  
  #buy-tickets #buy-ticket-modal input, #buy-tickets #buy-ticket-modal select {
    border-radius: 0;
  }
  
  #buy-tickets #buy-ticket-modal .btn {
    font-size: 15px;
    border-radius: 50px;
    padding: 10px 40px;
    transition: all 0.2s;
    background-color: #f82249;
    border: 0;
    color: #fff;
  }
  
  #buy-tickets #buy-ticket-modal .btn:hover {
    background-color: #e0072f;
  }
  
  /*--------------------------------------------------------------
  # Contact Section
  --------------------------------------------------------------*/
  #contact {
    padding: 60px 0;
  }
  
  #contact .contact-info {
    margin-bottom: 20px;
    text-align: center;
  }
  
  #contact .contact-info i {
    font-size: 48px;
    display: inline-block;
    margin-bottom: 10px;
    color: #f82249;
  }
  
  #contact .contact-info address, #contact .contact-info p {
    margin-bottom: 0;
    color: #112363;
  }
  
  #contact .contact-info h3 {
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: bold;
    text-transform: uppercase;
    color: #112363;
  }
  
  #contact .contact-info a {
    color: #4869df;
  }
  
  #contact .contact-info a:hover {
    color: #f82249;
  }
  
  #contact .contact-address, #contact .contact-phone, #contact .contact-email {
    margin-bottom: 20px;
  }
  
  @media (min-width: 768px) {
    #contact .contact-address, #contact .contact-phone, #contact .contact-email {
      padding: 20px 0;
    }
  }
  
  @media (min-width: 768px) {
    #contact .contact-phone {
      border-left: 1px solid #ddd;
      border-right: 1px solid #ddd;
    }
  }
  
  #contact .php-email-form .validate {
    display: none;
    color: red;
    margin: 0 0 15px 0;
    font-weight: 400;
    font-size: 13px;
  }
  
  #contact .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
  }
  
  #contact .php-email-form .error-message br + br {
    margin-top: 25px;
  }
  
  #contact .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
  }
  
  #contact .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
  }
  
  #contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
  }
  
  #contact .php-email-form input, #contact .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
  }
  
  #contact .php-email-form input::focus, #contact .php-email-form textarea::focus {
    background-color: #f82249;
  }
  
  #contact .php-email-form input {
    padding: 20px 15px;
  }
  
  #contact .php-email-form textarea {
    padding: 12px 15px;
  }
  
  #contact .php-email-form button[type="submit"] {
    background: #f82249;
    border: 0;
    padding: 10px 40px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
    cursor: pointer;
  }
  
  #contact .php-email-form button[type="submit"]:hover {
    background: #e0072f;
  }
  
  @-webkit-keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  /*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/
  /* #footer {
    background: #101522;
    padding: 0 0 25px 0;
    color: #eee;
    font-size: 14px;
  }
  
  #footer .footer-top {
    background: #040919;
    padding: 60px 0 30px 0;
  }
  
  #footer .footer-top .footer-info {
    margin-bottom: 30px;
  }
  
  #footer .footer-top .footer-info h3 {
    font-size: 26px;
    margin: 0 0 20px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    color: #fff;
  }
  
  #footer .footer-top .footer-info img {
    height: 40px;
    margin-bottom: 10px;
  }
  
  #footer .footer-top .footer-info p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Raleway", sans-serif;
    color: #fff;
  }
  
  #footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #222636;
    color: #eee;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
  
  #footer .footer-top .social-links a:hover {
    background: #f82249;
    color: #fff;
  }
  
  #footer .footer-top h4 {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 12px;
    border-bottom: 2px solid #f82249;
  }
  
  #footer .footer-top .footer-links {
    margin-bottom: 30px;
  }
  
  #footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #footer .footer-top .footer-links ul i {
    padding-right: 5px;
    color: #f82249;
    font-size: 18px;
  }
  
  #footer .footer-top .footer-links ul li {
    border-bottom: 1px solid #262c44;
    padding: 10px 0;
  }
  
  #footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
  }
  
  #footer .footer-top .footer-links ul a {
    color: #eee;
  }
  
  #footer .footer-top .footer-links ul a:hover {
    color: #f82249;
  }
  
  #footer .footer-top .footer-contact {
    margin-bottom: 30px;
  }
  
  #footer .footer-top .footer-contact p {
    line-height: 26px;
  }
  
  #footer .footer-top .footer-newsletter {
    margin-bottom: 30px;
  }
  
  #footer .footer-top .footer-newsletter input[type="email"] {
    border: 0;
    padding: 6px 8px;
    width: 65%;
  }
  
  #footer .footer-top .footer-newsletter input[type="submit"] {
    background: #f82249;
    border: 0;
    width: 35%;
    padding: 6px 0;
    text-align: center;
    color: #fff;
    transition: 0.3s;
    cursor: pointer;
  }
  
  #footer .footer-top .footer-newsletter input[type="submit"]:hover {
    background: #e0072f;
  }
  
  #footer .copyright {
    text-align: center;
    padding-top: 30px;
  }
  
  #footer .credits {
    text-align: center;
    font-size: 13px;
    color: #ddd;
  } */

  /* ----------Footer End------------------- */
 
  
/* @media (min-width: 992px)
.navbar-expand-lg .navbar-collapse {
    display: -ms-flexbox!important;
    display: flex!important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
} */
.collapse:not(.show) {
    display: none;
}
.navbar-collapse {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-align: center;
    align-items: center;
}
div {
    display: block;
}
.main-nav .nav-item .nav-link {
    color: black;
}
.main-nav .nav-item .nav-link {
    font-size: 15px;
    line-height: 43px;
    padding: 0 20px;
    color: #000;
    font-weight: bold;
}
.navbar-light .navbar-nav .nav-link {
    color: white;
}
/* @media (min-width: 992px)
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
} */
.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
}
.nav-link {
    display: block;
    padding: .5rem 1rem;
}
.login-button {
    border: 2px solid #000;
    margin-right: 8px;
}


  